In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv(r"E:\EXcellenC\Projects\Project two\car_data.csv")
df.columns

Index(['City', 'Car Name', 'Price', 'Kilometers Driven', 'Transmission',
       'Fuel Type', 'Manufacturing Year', 'Number of Owners', 'Color',
       'Car Available At', 'Insurance', 'Registration', 'URL'],
      dtype='object')

In [15]:
unique_owners=df["Number of Owners"].unique()
print(unique_owners)

['Third' 'First' 'Second' '4 or More' nan 'Not Available' 'Fourth']

In [17]:
uni = df["Fuel Type"].unique()
print(uni)

['Petrol' 'Electric' 'Diesel' 'CNG' 'CNG + CNG'
 'Hybrid (Electric + Petrol)' 'Petrol + CNG'
 'Mild Hybrid(Electric + Petrol)' 'Petrol + LPG' 'Diesel + LPG'
 'Not Available' 'Diesel + CNG' 'Electric + CNG' nan
 'Mild Hybrid (Electric + Diesel)' 'Electric Motor']

In [19]:
city=df["City"].unique()
city

array(['Mumbai', 'Delhi', 'Anislands', 'Abohar', 'Abu', 'Addanki',
       'Adilabad', 'Adimali', 'Adoni', 'Agarmalwa', 'Agartala', 'Agra',
       'Agwanpur', 'Ahmedabad', 'Jaipur', 'Lucknow', 'Pune', 'Bangalore',
       'Hyderabad', 'Gurgaon', 'Noida', 'Faridabad', 'Ghaziabad',
       'Meerut', 'Nashik', 'Nagpur', 'Patna', 'Ahmednagar', 'Aizawl',
       'Ajmer', 'Ajnala', 'Akbarpur', 'Akkalkot', 'Akluj', 'Akola',
       'Alamcode', 'Alampur', 'Alandi', 'Alappuzha', 'Alibag', 'Aligarh',
       'Alipurduar', 'Alirajpur', 'Allahabad', 'Alleppey', 'Allur',
       'Almora'], dtype=object)

In [21]:
name=df["Car Name"]
name

0                     2013 Mercedes-Benz G-Class G 63 AMG
1                              2021 Tata Nexon EV XZ Plus
2                                 2023 MG ZS EV Exclusive
3             2020 Mercedes-Benz E-Class E 220d Exclusive
4        2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023]
                               ...
10071            2022 Tata Nexon XZ Plus (O) Dark Edition
10072                 2018 Maruti Suzuki Baleno Delta 1.3
10073                         2019 Honda WR-V S MT Petrol
10074            2023 Hyundai Exter SX (O) Connect 1.2 MT
10075                2024 Skoda Kushaq Style 1.5L TSI DSG
Name: Car Name, Length: 10076, dtype: object

In [23]:
brands = [
    "Tata", "Maruti Suzuki", "Hyundai", "Honda", "Mahindra", "Toyota",
    "Kia", "Renault", "Nissan", "Volkswagen", "Skoda", "Ford", "MG",
    "Jeep", "Mercedes-Benz", "BMW", "Audi", "Lexus", "Porsche", "Jaguar",
    "Land Rover", "Mini", "Volvo", "Isuzu", "Datsun"
]

def extract_brand(car_name):
    for brand in brands:
        if brand in car_name:
            return brand
    return "Unknown"

df["Brand"] = df["Car Name"].apply(extract_brand)

In [25]:
print(df.columns)

Index(['City', 'Car Name', 'Price', 'Kilometers Driven', 'Transmission',
       'Fuel Type', 'Manufacturing Year', 'Number of Owners', 'Color',
       'Car Available At', 'Insurance', 'Registration', 'URL', 'Brand'],
      dtype='object')

In [27]:
df.head()

,City,Car Name,Price,Kilometers Driven,Transmission,Fuel Type,Manufacturing Year,Number of Owners,Color,Car Available At,Insurance,Registration,URL,Brand
0,Mumbai,2013 Mercedes-Benz G-Class G 63 AMG,₹ 88 Lakh,"85,000 km","Automatic - 7 Gears, Paddle Shift, Sport Mode",Petrol,Jun 2013,Third,White,"Kurla East, Mumbai",Comprehensive,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG
1,Mumbai,2021 Tata Nexon EV XZ Plus,₹ 9.25 Lakh,"18,500 km","Automatic - 1 Gears, Sport Mode",Electric,Apr 2021,First,White,"Andheri (E), Mumbai",Comprehensive,Apr 2021,https://www.carwale.com/used/mumbai/tata-nexon...,Tata
2,Mumbai,2023 MG ZS EV Exclusive,₹ 18.45 Lakh,"8,900 km","Automatic - Not Applicable Gears, Sport Mode",Electric,Feb 2023,First,Black,"Goregaon (W), Mumbai",Not Available,Feb 2023,https://www.carwale.com/used/mumbai/mg-zs-ev/b...,MG
3,Mumbai,2020 Mercedes-Benz E-Class E 220d Exclusive,₹ 41.75 Lakh,"28,000 km","Automatic (TC) - 9 Gears, Paddle Shift, Sport ...",Diesel,Jun 2020,First,Blue,"Andheri (W), Mumbai",Zero Depreciation,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,Mercedes-Benz
4,Mumbai,2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023],₹ 49.99 Lakh,"7,400 km","Automatic (DCT) - 8 Gears, Paddle Shift, Sport...",Petrol,Jun 2022,First,Black,"Borivali (W), Mumbai",Third Party,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG

In [29]:
brands=df["Brand"].value_counts()
brands

Brand
Maruti Suzuki    2070
Hyundai          1495
Tata              748
Mahindra          670
BMW               656
Honda             612
Toyota            605
Mercedes-Benz     594
Audi              335
Kia               298
Renault           294
Ford              270
Volkswagen        259
MG                234
Skoda             190
Unknown           161
Jeep              126
Land Rover         92
Volvo              80
Datsun             72
Nissan             67
Jaguar             60
Porsche            51
Lexus              36
Isuzu               1
Name: count, dtype: int64

In [31]:
def extract_model(car_name, brand):
    # Remove year (first word) and brand from the car name
    parts = car_name.split()
    if len(parts) < 3:
        return "Unknown"
    if brand in car_name:
        try:
            brand_index = parts.index(brand.split()[0])
            model = " ".join(parts[brand_index + len(brand.split()):])
            return model
        except ValueError:
            return "Unknown"
    return "Unknown"

df["Model"] = df.apply(lambda row: extract_model(row["Car Name"], row["Brand"]), axis=1)

In [33]:
df

,City,Car Name,Price,Kilometers Driven,Transmission,Fuel Type,Manufacturing Year,Number of Owners,Color,Car Available At,Insurance,Registration,URL,Brand,Model
0,Mumbai,2013 Mercedes-Benz G-Class G 63 AMG,₹ 88 Lakh,"85,000 km","Automatic - 7 Gears, Paddle Shift, Sport Mode",Petrol,Jun 2013,Third,White,"Kurla East, Mumbai",Comprehensive,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Unknown
1,Mumbai,2021 Tata Nexon EV XZ Plus,₹ 9.25 Lakh,"18,500 km","Automatic - 1 Gears, Sport Mode",Electric,Apr 2021,First,White,"Andheri (E), Mumbai",Comprehensive,Apr 2021,https://www.carwale.com/used/mumbai/tata-nexon...,Tata,Nexon EV XZ Plus
2,Mumbai,2023 MG ZS EV Exclusive,₹ 18.45 Lakh,"8,900 km","Automatic - Not Applicable Gears, Sport Mode",Electric,Feb 2023,First,Black,"Goregaon (W), Mumbai",Not Available,Feb 2023,https://www.carwale.com/used/mumbai/mg-zs-ev/b...,MG,ZS EV Exclusive
3,Mumbai,2020 Mercedes-Benz E-Class E 220d Exclusive,₹ 41.75 Lakh,"28,000 km","Automatic (TC) - 9 Gears, Paddle Shift, Sport ...",Diesel,Jun 2020,First,Blue,"Andheri (W), Mumbai",Zero Depreciation,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,Mercedes-Benz,E-Class E 220d Exclusive
4,Mumbai,2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023],₹ 49.99 Lakh,"7,400 km","Automatic (DCT) - 8 Gears, Paddle Shift, Sport...",Petrol,Jun 2022,First,Black,"Borivali (W), Mumbai",Third Party,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10071,Almora,2022 Tata Nexon XZ Plus (O) Dark Edition,₹ 9.5 Lakh,"33,000 km","Manual - 6 Gears, Sport Mode",Petrol,Jun 2022,First,Black,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/tata-nex...,Tata,Nexon XZ Plus (O) Dark Edition
10072,Almora,2018 Maruti Suzuki Baleno Delta 1.3,₹ 6.5 Lakh,"65,000 km",Manual - 5 Gears,Diesel,Jun 2018,First,White,"Haridwar Road, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/maruti-s...,Maruti Suzuki,Baleno Delta 1.3
10073,Almora,2019 Honda WR-V S MT Petrol,₹ 6.1 Lakh,"29,000 km",Manual - 5 Gears,Petrol,Jun 2019,First,White,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/honda-wr...,Honda,WR-V S MT Petrol
10074,Almora,2023 Hyundai Exter SX (O) Connect 1.2 MT,₹ 8 Lakh,"22,000 km",Manual - 5 Gears,Petrol,Jun 2023,Second,Green,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/hyundai-...,Hyundai,Exter SX (O) Connect 1.2 MT
10075,Almora,2024 Skoda Kushaq Style 1.5L TSI DSG,₹ 19 Lakh,"6,000 km","Automatic (DCT) - 7 Gears, Manual Override & P...",Petrol,Jun 2024,NaN,Red,"Kaonli, Dehradun",Not Available,Not Available,https://www.carwale.com/used/dehradun/skoda-ku...,Skoda,Kushaq Style 1.5L TSI DSG

In [35]:
df.head()

,City,Car Name,Price,Kilometers Driven,Transmission,Fuel Type,Manufacturing Year,Number of Owners,Color,Car Available At,Insurance,Registration,URL,Brand,Model
0,Mumbai,2013 Mercedes-Benz G-Class G 63 AMG,₹ 88 Lakh,"85,000 km","Automatic - 7 Gears, Paddle Shift, Sport Mode",Petrol,Jun 2013,Third,White,"Kurla East, Mumbai",Comprehensive,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Unknown
1,Mumbai,2021 Tata Nexon EV XZ Plus,₹ 9.25 Lakh,"18,500 km","Automatic - 1 Gears, Sport Mode",Electric,Apr 2021,First,White,"Andheri (E), Mumbai",Comprehensive,Apr 2021,https://www.carwale.com/used/mumbai/tata-nexon...,Tata,Nexon EV XZ Plus
2,Mumbai,2023 MG ZS EV Exclusive,₹ 18.45 Lakh,"8,900 km","Automatic - Not Applicable Gears, Sport Mode",Electric,Feb 2023,First,Black,"Goregaon (W), Mumbai",Not Available,Feb 2023,https://www.carwale.com/used/mumbai/mg-zs-ev/b...,MG,ZS EV Exclusive
3,Mumbai,2020 Mercedes-Benz E-Class E 220d Exclusive,₹ 41.75 Lakh,"28,000 km","Automatic (TC) - 9 Gears, Paddle Shift, Sport ...",Diesel,Jun 2020,First,Blue,"Andheri (W), Mumbai",Zero Depreciation,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,Mercedes-Benz,E-Class E 220d Exclusive
4,Mumbai,2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023],₹ 49.99 Lakh,"7,400 km","Automatic (DCT) - 8 Gears, Paddle Shift, Sport...",Petrol,Jun 2022,First,Black,"Borivali (W), Mumbai",Third Party,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Unknown

In [37]:
import re

def extract_model(car_name, brand):
    # Remove the year (assumed to be 4 digits at start)
    name_no_year = re.sub(r"^\d{4}\s+", "", car_name)

    # Remove the brand name (case-insensitive, escape special characters)
    brand_pattern = re.escape(brand)
    model = re.sub(brand_pattern, "", name_no_year, flags=re.IGNORECASE).strip()

    return model if model else "Unknown"

In [39]:
df["Model"] = df.apply(lambda row: extract_model(row["Car Name"], row["Brand"]), axis=1)

In [41]:
df

,City,Car Name,Price,Kilometers Driven,Transmission,Fuel Type,Manufacturing Year,Number of Owners,Color,Car Available At,Insurance,Registration,URL,Brand,Model
0,Mumbai,2013 Mercedes-Benz G-Class G 63 AMG,₹ 88 Lakh,"85,000 km","Automatic - 7 Gears, Paddle Shift, Sport Mode",Petrol,Jun 2013,Third,White,"Kurla East, Mumbai",Comprehensive,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Mercedes-Benz G-Class G 63 A
1,Mumbai,2021 Tata Nexon EV XZ Plus,₹ 9.25 Lakh,"18,500 km","Automatic - 1 Gears, Sport Mode",Electric,Apr 2021,First,White,"Andheri (E), Mumbai",Comprehensive,Apr 2021,https://www.carwale.com/used/mumbai/tata-nexon...,Tata,Nexon EV XZ Plus
2,Mumbai,2023 MG ZS EV Exclusive,₹ 18.45 Lakh,"8,900 km","Automatic - Not Applicable Gears, Sport Mode",Electric,Feb 2023,First,Black,"Goregaon (W), Mumbai",Not Available,Feb 2023,https://www.carwale.com/used/mumbai/mg-zs-ev/b...,MG,ZS EV Exclusive
3,Mumbai,2020 Mercedes-Benz E-Class E 220d Exclusive,₹ 41.75 Lakh,"28,000 km","Automatic (TC) - 9 Gears, Paddle Shift, Sport ...",Diesel,Jun 2020,First,Blue,"Andheri (W), Mumbai",Zero Depreciation,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,Mercedes-Benz,E-Class E 220d Exclusive
4,Mumbai,2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023],₹ 49.99 Lakh,"7,400 km","Automatic (DCT) - 8 Gears, Paddle Shift, Sport...",Petrol,Jun 2022,First,Black,"Borivali (W), Mumbai",Third Party,Not Available,https://www.carwale.com/used/mumbai/mercedes-b...,MG,Mercedes-Benz A GLA 35 4MATIC [2021-2023]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10071,Almora,2022 Tata Nexon XZ Plus (O) Dark Edition,₹ 9.5 Lakh,"33,000 km","Manual - 6 Gears, Sport Mode",Petrol,Jun 2022,First,Black,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/tata-nex...,Tata,Nexon XZ Plus (O) Dark Edition
10072,Almora,2018 Maruti Suzuki Baleno Delta 1.3,₹ 6.5 Lakh,"65,000 km",Manual - 5 Gears,Diesel,Jun 2018,First,White,"Haridwar Road, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/maruti-s...,Maruti Suzuki,Baleno Delta 1.3
10073,Almora,2019 Honda WR-V S MT Petrol,₹ 6.1 Lakh,"29,000 km",Manual - 5 Gears,Petrol,Jun 2019,First,White,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/honda-wr...,Honda,WR-V S MT Petrol
10074,Almora,2023 Hyundai Exter SX (O) Connect 1.2 MT,₹ 8 Lakh,"22,000 km",Manual - 5 Gears,Petrol,Jun 2023,Second,Green,"Kaonli, Dehradun",Comprehensive,Not Available,https://www.carwale.com/used/dehradun/hyundai-...,Hyundai,Exter SX (O) Connect 1.2 MT
10075,Almora,2024 Skoda Kushaq Style 1.5L TSI DSG,₹ 19 Lakh,"6,000 km","Automatic (DCT) - 7 Gears, Manual Override & P...",Petrol,Jun 2024,NaN,Red,"Kaonli, Dehradun",Not Available,Not Available,https://www.carwale.com/used/dehradun/skoda-ku...,Skoda,Kushaq Style 1.5L TSI DSG

In [43]:
df.columns

Index(['City', 'Car Name', 'Price', 'Kilometers Driven', 'Transmission',
       'Fuel Type', 'Manufacturing Year', 'Number of Owners', 'Color',
       'Car Available At', 'Insurance', 'Registration', 'URL', 'Brand',
       'Model'],
      dtype='object')

In [45]:
df["Model"].unique

<bound method Series.unique of 0                     Mercedes-Benz G-Class G 63 A
1                                 Nexon EV XZ Plus
2                                  ZS EV Exclusive
3                         E-Class E 220d Exclusive
4        Mercedes-Benz A GLA 35 4MATIC [2021-2023]
                           ...
10071               Nexon XZ Plus (O) Dark Edition
10072                             Baleno Delta 1.3
10073                             WR-V S MT Petrol
10074                  Exter SX (O) Connect 1.2 MT
10075                    Kushaq Style 1.5L TSI DSG
Name: Model, Length: 10076, dtype: object>

In [47]:
df["Price"].isna().any()

False

In [49]:
df["Kilometers Driven"].isna().any()

False

In [57]:
df= df.drop("URL", axis=1)

In [59]:
print(df.columns)

Index(['City', 'Car Name', 'Price', 'Kilometers Driven', 'Transmission',
       'Fuel Type', 'Manufacturing Year', 'Number of Owners', 'Color',
       'Car Available At', 'Insurance', 'Registration', 'Brand', 'Model'],
      dtype='object')

In [65]:
unknown_brand_df = df[df["Brand"] == "Unknown"]
print(unknown_brand_df)

         City                         Car Name        Price Kilometers Driven  \
394     Delhi       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          8,778 km
417     Delhi       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          4,044 km
441     Delhi     2020 Rolls-Royce Phantom EWB   ₹ 12 Crore         16,000 km
443     Delhi  2023 Bentley Bentayga V8 Petrol  ₹ 9.5 Crore          1,000 km
478     Delhi     2013 MINI Cooper Convertible  ₹ 16.5 Lakh         45,000 km
...       ...                              ...          ...               ...
9880    Allur         2013 Chevrolet Cruze LTZ   ₹ 3.1 Lakh         80,000 km
9890    Allur    2010 Chevrolet Beat LS Petrol   ₹ 1.5 Lakh         94,000 km
9893    Allur    2011 Chevrolet Beat LT Petrol   ₹ 1.6 Lakh       2,03,558 km
10016  Almora       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          8,778 km
10030  Almora       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          4,044 km

                                            Transmission     Fuel Type  \
394                                Automatic, Sport Mode      Electric
417                                Automatic, Sport Mode      Electric
441                 Automatic - 6 Gears, Manual Override        Petrol
443    Automatic (TC) - 8 Gears, Paddle Shift, Sport ...        Petrol
478                                            Automatic        Petrol
...                                                  ...           ...
9880                                    Manual - 6 Gears        Diesel
9890                                    Manual - 5 Gears        Petrol
9893                                    Manual - 5 Gears  Petrol + LPG
10016                              Automatic, Sport Mode      Electric
10030                              Automatic, Sport Mode      Electric

      Manufacturing Year Number of Owners                Color  \
394             Nov 2023            First                White
417             Nov 2023            First                Black
441             Jun 2020            First                Black
443             Jun 2023            First                Green
478             Jun 2013           Second               Orange
...                  ...              ...                  ...
9880            Nov 2013           Second         Summit White
9890            Jan 2010           Second            Super Red
9893            Apr 2011           Second  Switch Blade Silver
10016           Nov 2023            First                White
10030           Nov 2023            First                Black

                     Car Available At          Insurance   Registration  \
394                      Nimri, Delhi  Zero Depreciation  Not Available
417                      Nimri, Delhi  Zero Depreciation  Not Available
441    J 6Block Rajouri Garden, Delhi  Zero Depreciation  Not Available
443    J 6Block Rajouri Garden, Delhi  Zero Depreciation  Not Available
478                      Nimri, Delhi  Zero Depreciation  Not Available
...                               ...                ...            ...
9880        Diguvamasapalle, Chittoor      Comprehensive  Not Available
9890                 Kuppam, Chittoor      Not Available  Not Available
9893           Bangarupalem, Chittoor      Not Available  Not Available
10016         Haridwar Road, Dehradun  Zero Depreciation  Not Available
10030         Haridwar Road, Dehradun  Zero Depreciation  Not Available

         Brand                       Model
394    Unknown       MINI Cooper SE 3-Door
417    Unknown       MINI Cooper SE 3-Door
441    Unknown     Rolls-Royce Phantom EWB
443    Unknown  Bentley Bentayga V8 Petrol
478    Unknown     MINI Cooper Convertible
...        ...                         ...
9880   Unknown         Chevrolet Cruze LTZ
9890   Unknown    Chevrolet Beat LS Petrol
9893   Unknown    Chevrolet Beat LT Petrol
10016  Unknown       MINI Cooper SE 3-Door
10030  Unknown       MINI Cooper SE 3-Door

[161 rows x 14 columns]

In [69]:
def fix_unknown_brand(row):
    if row["Brand"] == "Unknown":
        for keyword, brand in brand_fixes.items():
            if keyword in row["Car Name"]:
                return brand
    return row["Brand"]

In [71]:
def extract_model(car_name, brand):
    name_no_year = re.sub(r"^\d{4}\s+", "", car_name)
    brand_pattern = re.escape(brand)
    model = re.sub(brand_pattern, "", name_no_year, flags=re.IGNORECASE).strip()
    return model if model else "Unknown"

df["Model"] = df.apply(lambda row: extract_model(row["Car Name"], row["Brand"]), axis=1)

In [73]:
print(df[df["Brand"] == "Unknown"])

         City                         Car Name        Price Kilometers Driven  \
394     Delhi       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          8,778 km
417     Delhi       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          4,044 km
441     Delhi     2020 Rolls-Royce Phantom EWB   ₹ 12 Crore         16,000 km
443     Delhi  2023 Bentley Bentayga V8 Petrol  ₹ 9.5 Crore          1,000 km
478     Delhi     2013 MINI Cooper Convertible  ₹ 16.5 Lakh         45,000 km
...       ...                              ...          ...               ...
9880    Allur         2013 Chevrolet Cruze LTZ   ₹ 3.1 Lakh         80,000 km
9890    Allur    2010 Chevrolet Beat LS Petrol   ₹ 1.5 Lakh         94,000 km
9893    Allur    2011 Chevrolet Beat LT Petrol   ₹ 1.6 Lakh       2,03,558 km
10016  Almora       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          8,778 km
10030  Almora       2023 MINI Cooper SE 3-Door    ₹ 39 Lakh          4,044 km

                                            Transmission     Fuel Type  \
394                                Automatic, Sport Mode      Electric
417                                Automatic, Sport Mode      Electric
441                 Automatic - 6 Gears, Manual Override        Petrol
443    Automatic (TC) - 8 Gears, Paddle Shift, Sport ...        Petrol
478                                            Automatic        Petrol
...                                                  ...           ...
9880                                    Manual - 6 Gears        Diesel
9890                                    Manual - 5 Gears        Petrol
9893                                    Manual - 5 Gears  Petrol + LPG
10016                              Automatic, Sport Mode      Electric
10030                              Automatic, Sport Mode      Electric

      Manufacturing Year Number of Owners                Color  \
394             Nov 2023            First                White
417             Nov 2023            First                Black
441             Jun 2020            First                Black
443             Jun 2023            First                Green
478             Jun 2013           Second               Orange
...                  ...              ...                  ...
9880            Nov 2013           Second         Summit White
9890            Jan 2010           Second            Super Red
9893            Apr 2011           Second  Switch Blade Silver
10016           Nov 2023            First                White
10030           Nov 2023            First                Black

                     Car Available At          Insurance   Registration  \
394                      Nimri, Delhi  Zero Depreciation  Not Available
417                      Nimri, Delhi  Zero Depreciation  Not Available
441    J 6Block Rajouri Garden, Delhi  Zero Depreciation  Not Available
443    J 6Block Rajouri Garden, Delhi  Zero Depreciation  Not Available
478                      Nimri, Delhi  Zero Depreciation  Not Available
...                               ...                ...            ...
9880        Diguvamasapalle, Chittoor      Comprehensive  Not Available
9890                 Kuppam, Chittoor      Not Available  Not Available
9893           Bangarupalem, Chittoor      Not Available  Not Available
10016         Haridwar Road, Dehradun  Zero Depreciation  Not Available
10030         Haridwar Road, Dehradun  Zero Depreciation  Not Available

         Brand                       Model
394    Unknown       MINI Cooper SE 3-Door
417    Unknown       MINI Cooper SE 3-Door
441    Unknown     Rolls-Royce Phantom EWB
443    Unknown  Bentley Bentayga V8 Petrol
478    Unknown     MINI Cooper Convertible
...        ...                         ...
9880   Unknown         Chevrolet Cruze LTZ
9890   Unknown    Chevrolet Beat LS Petrol
9893   Unknown    Chevrolet Beat LT Petrol
10016  Unknown       MINI Cooper SE 3-Door
10030  Unknown       MINI Cooper SE 3-Door

[161 rows x 14 columns]

In [75]:
# Keyword from model : Brand
model_keyword_brand_map = {
    "Cooper": "MINI",
    "Phantom": "Rolls-Royce",
    "Bentayga": "Bentley",
    "Cruze": "Chevrolet",
    "Beat": "Chevrolet"
}

In [77]:
def detect_brand_from_model(car_name, existing_brand):
    if existing_brand != "Unknown":
        return existing_brand
    
    for keyword, brand in model_keyword_brand_map.items():
        if re.search(rf"\b{keyword}\b", car_name, flags=re.IGNORECASE):
            return brand
    return "Unknown"

df["Brand"] = df.apply(lambda row: detect_brand_from_model(row["Car Name"], row["Brand"]), axis=1)

In [79]:
def extract_model(car_name, brand):
    name_no_year = re.sub(r"^\d{4}\s+", "", car_name)
    model = re.sub(re.escape(brand), "", name_no_year, flags=re.IGNORECASE).strip()
    return model if model else "Unknown"

df["Model"] = df.apply(lambda row: extract_model(row["Car Name"], row["Brand"]), axis=1)

In [81]:
print(df[df["Brand"] == "Unknown"])  # Should now show fewer rows

            City                                           Car Name  \
506    Anislands             2011 Hindustan Motors Contessa 2.0 DSL
514    Anislands                  2013 Chevrolet Enjoy 1.3 LS 7 STR
768          Abu                        2008 Chevrolet Spark LS 1.0
810      Addanki         2016 Fiat Punto Emotion Multijet 1.3 90 hp
1075    Adilabad                         2008 Chevrolet Aveo LS 1.4
...          ...                                                ...
8566      Alibag                     2017 Aston Martin Rapide S V12
8800     Aligarh                  2014 Chevrolet Enjoy 1.3 LS 7 STR
8922  Alipurduar  2010 Chevrolet Tavera NY Elite LT - L1 7-Seate...
9242   Alirajpur                         2014 Fiat Punto Active 1.3
9376   Allahabad                          2012 Ssangyong Rexton RX5

            Price Kilometers Driven  \
506      ₹ 2 Lakh         45,000 km
514      ₹ 3 Lakh       1,00,000 km
768      ₹ 60,000         95,000 km
810      ₹ 4 Lakh       1,50,000 km
1075   ₹ 1.1 Lakh       1,62,500 km
...           ...               ...
8566  ₹ 2.5 Crore          7,000 km
8800  ₹ 2.25 Lakh         94,000 km
8922  ₹ 1.75 Lakh         65,000 km
9242   ₹ 2.5 Lakh         81,760 km
9376  ₹ 3.65 Lakh         87,000 km

                                       Transmission     Fuel Type  \
506                                          Manual        Petrol
514                                Manual - 5 Gears        Diesel
768                                Manual - 5 Gears  Petrol + CNG
810                                Manual - 5 Gears        Diesel
1075                               Manual - 5 Gears        Petrol
...                                             ...           ...
8566  Automatic - 6 Gears, Paddle Shift, Sport Mode        Petrol
8800                               Manual - 5 Gears        Diesel
8922                               Manual - 5 Gears        Diesel
9242                               Manual - 5 Gears        Diesel
9376                               Manual - 5 Gears        Diesel

     Manufacturing Year Number of Owners         Color  \
506            Sep 2011            First         White
514            Dec 2013           Second  Summit White
768            Aug 2008           Second  Summit white
810            Aug 2016            First    Nova white
1075           Mar 2008           Second   Blazing Red
...                 ...              ...           ...
8566           Jun 2017            First         Green
8800           May 2014           Second         White
8922           Jun 2010            First         Black
9242           Jun 2014            First        Maroon
9376           Jun 2012           Second         White

                 Car Available At      Insurance   Registration    Brand  \
506   Aberdeen Bazar, A&N Islands    Third Party  Not Available  Unknown
514                   A&N Islands  Not Available  Not Available  Unknown
768             Ricco Colony, Abu  Not Available  Not Available  Unknown
810                       Addanki  Not Available  Not Available  Unknown
1075                     Siddipet        Expired  Not Available  Unknown
...                           ...            ...            ...      ...
8566      Kopri Gaon, Navi Mumbai  Comprehensive  Not Available  Unknown
8800            Kamla Nagar, Agra  Comprehensive       May 2014  Unknown
8922           Keoratala, Kolkata  Comprehensive  Not Available  Unknown
9242          Niranjanpur, Indore  Comprehensive  Not Available  Unknown
9376    Industrial Estate, Kanpur        Expired  Not Available  Unknown

                                                  Model
506                   Hindustan Motors Contessa 2.0 DSL
514                        Chevrolet Enjoy 1.3 LS 7 STR
768                              Chevrolet Spark LS 1.0
810               Fiat Punto Emotion Multijet 1.3 90 hp
1075                              Chevrolet Aveo LS 1.4
...                                                 ...
8566                          Aston Martin Rapide S V12
8800                       Chevrolet Enjoy 1.3 LS 7 STR
8922  Chevrolet Tavera NY Elite LT - L1 7-Seater - B...
9242                              Fiat Punto Active 1.3
9376                               Ssangyong Rexton RX5

[67 rows x 14 columns]

In [83]:
brands=df["Brand"].value_counts()
brands

Brand
Maruti Suzuki    2070
Hyundai          1495
Tata              748
Mahindra          670
BMW               656
Honda             612
Toyota            605
Mercedes-Benz     594
Audi              335
Kia               298
Renault           294
Ford              270
Volkswagen        259
MG                234
Skoda             190
Jeep              126
Land Rover         92
Volvo              80
Datsun             72
Nissan             67
Unknown            67
MINI               66
Jaguar             60
Porsche            51
Lexus              36
Chevrolet          26
Rolls-Royce         1
Bentley             1
Isuzu               1
Name: count, dtype: int64

In [85]:
unknown_car_names = df[df["Brand"] == "Unknown"]["Car Name"]
print(unknown_car_names)

506                2011 Hindustan Motors Contessa 2.0 DSL
514                     2013 Chevrolet Enjoy 1.3 LS 7 STR
768                           2008 Chevrolet Spark LS 1.0
810            2016 Fiat Punto Emotion Multijet 1.3 90 hp
1075                           2008 Chevrolet Aveo LS 1.4
                              ...
8566                       2017 Aston Martin Rapide S V12
8800                    2014 Chevrolet Enjoy 1.3 LS 7 STR
8922    2010 Chevrolet Tavera NY Elite LT - L1 7-Seate...
9242                           2014 Fiat Punto Active 1.3
9376                            2012 Ssangyong Rexton RX5
Name: Car Name, Length: 67, dtype: object

In [87]:
def extract_brand_from_name(car_name):
    # Remove the year (starts with 4 digits)
    name_no_year = re.sub(r"^\d{4}\s+", "", car_name)

    # Get first 1-2 words
    parts = name_no_year.split()
    if len(parts) >= 2:
        brand_guess = parts[0]
        
        # Handle double-word brand names
        if parts[0] in ["Hindustan", "Rolls", "Aston", "Land"]:
            brand_guess = f"{parts[0]} {parts[1]}"
        
        return brand_guess
    return "Unknown"

In [89]:
df.loc[df["Brand"] == "Unknown", "Brand"] = df[df["Brand"] == "Unknown"]["Car Name"].apply(extract_brand_from_name)

In [93]:
print(df["Brand"].value_counts())
print(df[df["Brand"] == "Unknown"]["Car Name"])  # Should now be empty or much smaller

Brand
Maruti Suzuki       2070
Hyundai             1495
Tata                 748
Mahindra             670
BMW                  656
Honda                612
Toyota               605
Mercedes-Benz        594
Audi                 335
Kia                  298
Renault              294
Ford                 270
Volkswagen           259
MG                   234
Skoda                190
Jeep                 126
Land Rover            92
Volvo                 80
Datsun                72
Nissan                67
MINI                  66
Jaguar                60
Porsche               51
Chevrolet             46
Lexus                 36
Bentley                7
Maserati               7
Lamborghini            6
Fiat                   6
Rolls-Royce            5
Force                  5
Hindustan Motors       2
Aston Martin           2
Mitsubishi             2
Ferrari                2
Citroen                1
Ashok                  1
Hummer                 1
Isuzu                  1
BYD                    1
Ssangyong              1
Name: count, dtype: int64
Series([], Name: Car Name, dtype: object)

In [95]:
ashok_df = df[df["Brand"].str.lower().str.contains("ashok", na=False)]
print(ashok_df)

       City                           Car Name       Price Kilometers Driven  \
1449  Adoni  2015 Ashok Leyland Stile LS 8 STR  ₹ 3.5 Lakh         80,000 km

          Transmission Fuel Type Manufacturing Year Number of Owners  \
1449  Manual - 5 Gears    Diesel           Jul 2015            First

            Color     Car Available At Insurance   Registration  Brand  \
1449  IRISH CREAM  Bangar Pet, Kurnool   Expired  Not Available  Ashok

                             Model
1449  Ashok Leyland Stile LS 8 STR

In [97]:
brand_origin_map = {
    # 🇮🇳 Indian
    "Maruti Suzuki": "Indian",
    "Tata": "Indian",
    "Mahindra": "Indian",
    "Force": "Indian",
    "Hindustan Motors": "Indian",
    "Ashok": "Indian",

    # 🇩🇪 German
    "BMW": "German",
    "Mercedes-Benz": "German",
    "Volkswagen": "German",
    "Audi": "German",
    "Porsche": "German",

    # 🇯🇵 Japanese (JDM)
    "Honda": "JDM",
    "Toyota": "JDM",
    "Nissan": "JDM",
    "Datsun": "JDM",
    "Mitsubishi": "JDM",
    "Lexus": "JDM",

    # 🇰🇷 Korean
    "Hyundai": "Korean",
    "Kia": "Korean",

    # 🇺🇸 American
    "Ford": "American",
    "Jeep": "American",
    "Chevrolet": "American",
    "Hummer": "American",

    # 🇬🇧 British
    "Land Rover": "British",
    "MG": "British",  # Now owned by Chinese SAIC, but brand origin is British
    "Jaguar": "British",
    "Mini": "British",  # Owned by BMW but originally British
    "Rolls-Royce": "British",
    "Aston Martin": "British",
    "Bentley": "British",

    # 🇮🇹 Italian
    "Fiat": "Italian",
    "Maserati": "Italian",
    "Ferrari": "Italian",
    "Lamborghini": "Italian",

    # 🇸🇪 Swedish
    "Volvo": "Swedish",

    # 🇫🇷 French
    "Renault": "French",
    "Citroen": "French",

    # 🇨🇳 Chinese
    "BYD": "Chinese",
    "MG": "Chinese",  # Technically now Chinese-owned

    # 🇰🇷/🇨🇳 Korean/Chinese — special case
    "Ssangyong": "Korean",

    # Unknowns
    "Isuzu": "Japanese",
    "Unknown": "Unknown"
}

In [99]:
def get_origin(brand):
    return brand_origin_map.get(brand, "Other")

df["Origin"] = df["Brand"].apply(get_origin)

In [101]:
print(df["Origin"].value_counts())

Origin
Indian      3496
German      1895
Korean      1794
JDM         1394
American     443
French       295
Other        256
Chinese      235
British      166
Swedish       80
Italian       21
Japanese       1
Name: count, dtype: int64

In [103]:
df.columns

Index(['City', 'Car Name', 'Price', 'Kilometers Driven', 'Transmission',
       'Fuel Type', 'Manufacturing Year', 'Number of Owners', 'Color',
       'Car Available At', 'Insurance', 'Registration', 'Brand', 'Model',
       'Origin'],
      dtype='object')

In [105]:
df.head()

,City,Car Name,Price,Kilometers Driven,Transmission,Fuel Type,Manufacturing Year,Number of Owners,Color,Car Available At,Insurance,Registration,Brand,Model,Origin
0,Mumbai,2013 Mercedes-Benz G-Class G 63 AMG,₹ 88 Lakh,"85,000 km","Automatic - 7 Gears, Paddle Shift, Sport Mode",Petrol,Jun 2013,Third,White,"Kurla East, Mumbai",Comprehensive,Not Available,MG,Mercedes-Benz G-Class G 63 A,Chinese
1,Mumbai,2021 Tata Nexon EV XZ Plus,₹ 9.25 Lakh,"18,500 km","Automatic - 1 Gears, Sport Mode",Electric,Apr 2021,First,White,"Andheri (E), Mumbai",Comprehensive,Apr 2021,Tata,Nexon EV XZ Plus,Indian
2,Mumbai,2023 MG ZS EV Exclusive,₹ 18.45 Lakh,"8,900 km","Automatic - Not Applicable Gears, Sport Mode",Electric,Feb 2023,First,Black,"Goregaon (W), Mumbai",Not Available,Feb 2023,MG,ZS EV Exclusive,Chinese
3,Mumbai,2020 Mercedes-Benz E-Class E 220d Exclusive,₹ 41.75 Lakh,"28,000 km","Automatic (TC) - 9 Gears, Paddle Shift, Sport ...",Diesel,Jun 2020,First,Blue,"Andheri (W), Mumbai",Zero Depreciation,Not Available,Mercedes-Benz,E-Class E 220d Exclusive,German
4,Mumbai,2022 Mercedes-Benz AMG GLA 35 4MATIC [2021-2023],₹ 49.99 Lakh,"7,400 km","Automatic (DCT) - 8 Gears, Paddle Shift, Sport...",Petrol,Jun 2022,First,Black,"Borivali (W), Mumbai",Third Party,Not Available,MG,Mercedes-Benz A GLA 35 4MATIC [2021-2023],Chinese

In [109]:
df.to_csv("car_data_cleaned.csv", index=False)

In [111]:
df.to_csv(r"E:\EXcellenC\Projects\Project two\car_data_cleaned.csv", index=False)